<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anusiewicz.MCForAndroid"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name">
        <activity android:name=".views.MenuActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".views.CustomCommandActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".views.ConnectionActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".views.DeviceEditorActivity"
                  android:label="@string/app_name"
                  android:noHistory="true"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.DeviceControlActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".views.ScreenListActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".views.NewScreenActivity"
                  android:noHistory="true"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
    </application>
</manifest> 
